body,div,a,p{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    font-family: '微软雅黑';
}

/* 版心 */
.head_b{
 width: 1400px;
 margin:  0 auto;
}

html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {
  margin: 0;
  padding: 0
}
fieldset,img {
  border: 0
}
img {
  display: block
}
a{
color: #666;
text-decoration: none
}
address,caption,cite,code,dfn,th,var {
 font-style: normal;
 font-weight: normal
}
ul,ol {
 list-style: none
}
input {
  padding-left: 10px;
 padding-top: 0;
 padding-bottom: 0;
 font-family: "SimSun","微软雅黑"
}
input::-moz-focus-inner {
 border: 0;
 padding: 0
}
select,input {
 vertical-align: middle
}
select,input,textarea {
 margin: 0
}
input[type="text"],input[type="password"],textarea {
 outline-style: none;
 -webkit-appearance: none
}
textarea {
 resize: none
}
table {
 border-collapse: collapse
}
*{
font-weight: 500;
}
button ,input{
border: 0;
}
.pa_3{
padding: 0 3%;
}

* {
  box-sizing: border-box;
}







