
/* 版心 */
.head_b{
 width: 1400px;
 margin:  0 auto;      position: relative !important;
 z-index: 3 !important ;
}
.head_b_{
 width: 1200px;
 margin:  0 auto;      position: relative !important;
 z-index: 3 !important ;
}
html {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;          font-family: 'PingFang SC';
}

html::-webkit-scrollbar {
  width: 0px
}

::-webkit-scrollbar {
  display: none;
}


img {
  display: block
}
a{
text-decoration: none
}

input {
  padding-left: 10px;
}

input:focus {
  outline: none;
  border: none; /* 还原边框样式 */
  background: none; /* 去除背景色 */
}


textarea {
 resize: none
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400 !important;
}
button ,input{
  border: 0;
}

.pr_con{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.txt_2{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
.txt_3{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.cur_p ,.but {
  cursor: pointer;
}

.ant-dropdown-menu-item {
  text-align: center !important;
}
.no_data{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
  top: 20%;
}
.no_data div{
  font-weight: 600;
  text-align: center;
}
.no_data img{
  width: 40%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

h2{
  padding-top: 40px;
}


h1{
  text-align: center;
}
tbody {
  border: 1px solid #ccc;
  text-align: center;
}
td {
  padding: 8px 0;
  border: 1px solid #ccc;
  font-size: 12px;
}
th{
padding: 5px;
}
.bac_wz_ {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.content_wz {
  background-image: linear-gradient(rgba(247, 247, 247,.8),rgba(247, 247, 247,1));
  position: relative;
  top: 580px;
  min-height: 40vh;
  padding-top: 15px;
  border-radius: 50px 5px 0 0 ;
  margin-bottom: 540px;
}
.content_wz .mer-chant-header{
  background-image: linear-gradient(rgba(247, 247, 247,.8),rgba(247, 247, 247,1));
  position: relative;
  top: 0px;
  padding-top: 15px;
  border-radius: 50px 5px 0 0 ;
  margin-bottom: 0px;
}

.home_bq_{
  position: fixed;
  background-color: #fff;
  top: 20%;
  left: 14%;
  z-index: 99;
  border-radius: 8px;
  border-radius: 50%;
  padding: 10px ;
  width: 60px;
}
