
/* 版心 */
.head_b{
 width: 1400px;
 margin:  0 auto;      position: relative !important;
 z-index: 3 !important ;
}
html {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar {
  width: 0px
}

::-webkit-scrollbar {
  display: none;
}


img {
  display: block
}
a{
text-decoration: none
}

input {
  padding-left: 10px;
}

input:focus {
  outline: none;
  border: none; /* 还原边框样式 */
  background: none; /* 去除背景色 */
}


textarea {
 resize: none
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}
button ,input{
  border: 0;
}

.pr_con{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.txt_2{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
.txt_3{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.cur_p ,.but {
  cursor: pointer;
}

.ant-dropdown-menu-item {
  text-align: center !important;
}
.no_data{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.no_data div{
  font-weight: 600;
  text-align: center;
}
.no_data img{
  width: 40%;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}


